<script setup>
import { ref, onMounted, onUnmounted } from 'vue'

import Sidebar from './components/Sidebar.vue';
import { RouterView } from 'vue-router';

const isSidebarVisible = ref(false);
const isLargeScreen = ref(window.innerWidth >= 768);

const toggleMenu = () => {
  isSidebarVisible.value = !isSidebarVisible.value;
};

const handleResize = () => {
  isLargeScreen.value = window.innerWidth >= 768;
  if (isLargeScreen.value) {
    isSidebarVisible.value = true;
  } else {
    isSidebarVisible.value = false;
  }
};

onMounted(() => {
  window.addEventListener('resize', handleResize);
});

onUnmounted(() => {
  window.removeEventListener('resize', handleResize);
});

</script>

<template>
  <!-- Header -->
  <header class="bg-white shadow">
    <div class="container mx-auto flex justify-between items-center p-4">
      <div class="flex items-center">
        <button @click="toggleMenu" class="md:hidden text-gray-600 hover:text-gray-800 mr-2">
          <i class="fas fa-bars fa-lg"></i>
        </button>
        <img src="https://img.logoipsum.com/332.svg" alt="Logo" class="h-8 inline">
      </div>
      <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Logout</button>
    </div>
  </header>

  <div class="flex">

    <Sidebar :visible="isSidebarVisible || isLargeScreen" />

    <!-- Main Area -->
    <main class="flex-1 p-6">
      <RouterView />
    </main>

  </div>

  <!-- Footer -->
  <footer class="bg-white shadow mt-auto">
    <div class="container mx-auto p-4 text-center">
      <p>&copy; 2024 Nama Aplikasi. All rights reserved.</p>
    </div>
  </footer>
</template>