/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");

:root {
  /*theme skin*/
  --primary: #4c40f7;
  --secondary: #fe9602;
  --danger: #ff3b2f;
  --warning: #ffcc00;
  --success: #4adb61;
  --dark: #193766;
  --light: #ffffff;
  --soft-light: #f1f6ff;
  --disable: #697b98;
  --primary-light: #c6dbff;
  --primary-soft: #3b82f6;
  --gradient-primary: linear-gradient(300.7deg, #4c40f7 12.6%, #3b82f6 75.65%);
  --gradient-secondary: linear-gradient(121.94deg, #fe9602 0%, #ff3b2f 100%);
  --shadow-primary: 0px 30px 60px rgba(76, 64, 247, 0.25);
  --shadow-secondary: 0px 15px 30px rgba(254, 150, 2, 0.4);
  --shadow-danger: 0px 15px 30px rgba(255, 59, 47, 0.4);
  --shadow-warning: 0px 15px 30px rgba(255, 204, 0, 0.4);
  --shadow-success: 0px 15px 30px rgba(74, 219, 97, 0.4);
  --shadow-dark: 0px 30px 60px rgba(25, 55, 102, 0.25);
  --shadow: -10px 30px 70px rgba(219, 222, 225, 0.4);
}

/* typography */
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.17rem;
  font-weight: 500;
}

.display-1 {
  font-size: 48px;
  font-weight: bold;
}

.lead {
  font-size: 22px;
}

.highlight-secondary {
  color: var(--secondary);
}

/* components */
/* buttons */
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 10px;
  box-shadow: var(--shadow-primary);
}

.btn-primary:hover {
  background-color: var(--dark);
}

.btn-primary:focus {
  border-color: var(--dark);
  box-shadow: var(--shadow-dark) !important;
}

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
  border-radius: 10px;
  box-shadow: var(--shadow-danger);
}

.btn-outline-dark {
  border-color: var(--dark);
  color: var(--dark);
  border-radius: 10px;
}

.btn-outline-dark:hover {
  background-color: var(--dark);
}

.btn-outline-dark:focus {
  border-color: none;
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

/* alert */
.alert {
  border-radius: 10px;
}

.alert-success {
  color: var(--dark);
  background-color: var(--success);
  border-color: var(--success);
}

.alert-warning {
  color: var(--dark);
  background-color: var(--warning);
  border-color: var(--warning);
}

/* form */
.form-control,
.form-select {
  border-radius: 10px;
}

.form-label.required::after {
  content: no-close-quote;
  color: red;
  position: absolute;
  z-index: 1;
}
/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000025;
  border-radius: 4px;
}

/* navbar */
.navbar {
  background-color: var(--light);
  color: var(--dark);
  box-shadow: var(--shadow);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}

.navbar-toggler {
  padding: 2px;
}

.navbar-toggler:focus {
  box-shadow: 0px 0px 4px #325efa;
}

.navbar-toggler svg {
  width: 24px;
  height: 24px;
  fill: var(--dark);
}

.navbar .profile-img {
  border-radius: 16px;
}

.navbar .profile-name {
  color: var(--dark);
}

/* sidebar */
.sidebar {
  position: fixed;
  z-index: 10;
  top: 66px;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 2rem;
  width: 260px;
  margin-left: -260px;
  background-color: var(--light);
  box-shadow: var(--shadow);
  transition: margin-left 0.5s ease;
}

.sidebar.toggle {
  margin-left: 0px;
}

.sidebar .sidebar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}

/* Nav */
.nav {
  margin: 16px 0px;
}

.nav .nav-ac-item {
  border-radius: 10px;
  background: var(--soft-light);
  position: relative;
  color: var(--dark);
  cursor: pointer;
}

.nav .nav-ac-item.active,
.nav .nav-ac-item:hover {
  background: var(--primary);
  color: var(--light);
}

.nav .nav-ac-item a {
  display: block;
  padding: 10px 40px 10px 10px;
  text-decoration: none;
}

.nav .nav-ac-item button {
  background-color: transparent;
  border: none;
  padding: 10px 40px 10px 10px;
  color: var(--dark);
}

.nav .nav-ac-item a svg,
.nav .nav-ac-item button svg {
  fill: var(--dark);
}

.nav .nav-ac-item.active a,
.nav .nav-ac-item:hover a,
.nav .nav-ac-item:hover button {
  color: var(--light);
}

.nav .nav-ac-item.active a svg,
.nav .nav-ac-item.active button svg,
.nav .nav-ac-item:hover a svg,
.nav .nav-ac-item:hover button svg {
  fill: var(--light);
}

/* nav submenu */

.nav .sub-menu {
  list-style: none;
  padding-left: 0px;
}

.nav .sub-menu .sub-menu-item {
  padding-left: 25px;
}

.nav .sub-menu .sub-menu-item:nth-last-child(1) {
  border-radius: 0px 0px 10px 10px;
}

.nav .sub-menu .sub-menu-item.active,
.nav .sub-menu .sub-menu-item:hover {
  background: linear-gradient(
    90deg,
    var(--primary-soft) 0%,
    rgba(43, 157, 143, 0) 100%
  );
}

/* collapse button */
.nav .nav-ac-item a.nav-collapse::after {
  position: absolute;
  right: 5px;
  top: 14px;
  height: 30px;
  width: 30px;
  text-align: center;
  display: block;
  content: url(../img/chevron-up.svg);
}

.nav .nav-ac-item.active a.nav-collapse::after,
.nav .nav-ac-item:hover a.nav-collapse::after {
  content: url(../img/chevron-up-white.svg);
}

.nav .nav-ac-item a.nav-collapse.collapsed::after {
  content: url(../img/chevron-down.svg);
}

.nav .nav-ac-item.active a.nav-collapse::after,
.nav .nav-ac-item:hover a.nav-collapse.collapsed::after {
  content: url(../img/chevron-down-white.svg);
}

/* card */
.card {
  background-color: var(--light);
  border-radius: 20px;
  padding: 15px;
  border: none;
  box-shadow: var(--shadow);
}

.card:hover {
  box-shadow: var(--shadow-primary);
  color: var(--dark);
}

.card .cover {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.card .profile,
.card .profile .name {
  min-width: 0;
}

/* tinymce*/
.tox-statusbar__branding {
  display: none;
}

/* pagination */
.pagination .page-link {
  color: var(--primary);
}

.pagination .page-item.active .page-link {
  color: var(--light);
  background-color: var(--primary);
  border-color: var(--primary);
}

.pagination a:focus {
  box-shadow: none !important;
  border-color: none !important;
}

/* table */
.table {
  border-color: var(--soft-light);
}

.table > :not(:first-child) {
  border-top: none;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--soft-light);
}

.table > thead > tr {
  background-color: var(--primary);
  color: var(--light);
}

.table > thead > tr > th {
  padding: 12px 8px;
}

.table > thead > tr > th:first-child {
  border-top-left-radius: 10px;
}

.table > thead > tr > th:last-child {
  border-top-right-radius: 10px;
}

/* content */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
}

/* login page */
.form-wrapper {
  max-width: 512px;
  margin: auto;
}

/* desktop */
@media (min-width: 1200px) {
  .content-wrapper {
    margin-left: 260px;
    transition: margin-left 0.5s ease;
  }

  .sidebar {
    top: 0;
    z-index: 1021;
    margin-left: 0px;
  }

  .sidebar.toggle {
    margin-left: -260px;
  }
}
