<template>
    <!-- Container untuk dashboard -->
    <div class="flex justify-center">
        <div class="relative bg-white p-8 rounded-xl shadow-xl w-full max-w-md">

            <!-- Foto User di Pojok Kanan Atas -->
            <div class="absolute top-4 right-4">
                <img src="https://via.placeholder.com/100" alt="User Photo"
                    class="rounded-full w-20 h-20 border-4 border-blue-500 shadow-lg">
            </div>

            <h2 class="text-3xl font-bold text-gray-800 mb-6">Dashboard User</h2>

            <!-- Informasi User -->
            <div class="mb-5">
                <label class="text-blue-600 text-sm">Nama Lengkap:</label>
                <p class="text-gray-900 font-semibold text-lg">John Doe</p> <!-- Ganti dengan nama user yang login -->
            </div>

            <div class="mb-5">
                <label class="text-blue-600 text-sm">Email:</label>
                <p class="text-gray-900 font-semibold text-lg">johndoe@example.com</p>
                <!-- Ganti dengan email user yang login -->
            </div>

            <div class="mb-5">
                <label class="text-blue-600 text-sm">Nomor Handphone:</label>
                <p class="text-gray-900 font-semibold text-lg">+62 812-3456-7890</p>
                <!-- Ganti dengan nomor HP user yang login -->
            </div>

            <!-- Informasi Saldo User -->
            <div class="mb-4">
                <label class="text-blue-600 text-sm">Saldo Saat Ini:</label>
                <p class="text-green-600 text-4xl font-extrabold">Rp 1,500,000</p>
                <!-- Ganti dengan saldo user yang login -->
            </div>
        </div>
    </div>
</template>