<script setup>
import { ref, onMounted } from 'vue'
import Transaksi from '@/components/Transaksi.vue'
import { getTransaksi } from '@/api/transaksi-backend'

const daftarTransaksi = ref([])

const from = ref()
const to = ref()

const ambilDataTransaksi = (start, until) => {
    getTransaksi(start, until)
    .then((response) => {
        daftarTransaksi.value = response.data
    })
}

const btnFilterClicked = () => {
    console.log(from.value)
    console.log(to.value)
    ambilDataTransaksi(from.value, to.value)
}

onMounted(() => {
    from.value = '2021-01-01'
    to.value = '2021-01-02'
    ambilDataTransaksi(from.value, to.value)
})

</script>

<template>
    <h1 class="mb-4 text-2xl font-bold">Riwayat Transaksi</h1>

    <div class="container mx-auto">
        <!-- Filter Section -->
        <div class="mx-auto mb-6 w-2/3 rounded-lg bg-white p-6 shadow-lg">
            <h2 class="mb-4 text-2xl font-semibold text-gray-800">Filter Transaksi</h2>
            <div class="space-y-4">
                <div class="grid grid-cols-2 gap-4">
                    <!-- Date Filter -->
                    <div>
                        <label for="start_date" class="mb-1 block font-medium text-gray-700">Mulai Tanggal:</label>
                        <input type="date" id="start_date" v-model="from"
                            class="w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring focus:ring-blue-300">
                    </div>
                    <div>
                        <label for="end_date" class="mb-1 block font-medium text-gray-700">Sampai Tanggal:</label>
                        <input type="date" id="end_date" v-model="to"
                            class="w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring focus:ring-blue-300">
                    </div>
                </div>

                <!-- Transaction Type Filter -->
                <div>
                    <label for="transaction_type" class="mb-1 block font-medium text-gray-700">Jenis Transaksi:</label>
                    <select id="transaction_type"
                        class="w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring focus:ring-blue-300">
                        <option value="">Semua</option>
                        <option value="pembelian">Pembelian</option>
                        <option value="pembayaran">Pembayaran</option>
                        <option value="topup">Topup</option>
                    </select>
                </div>

                <!-- Filter Button -->
                <div>
                    <button @click="btnFilterClicked"
                        class="rounded-md bg-blue-500 px-6 py-2 text-white hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                        Filter
                    </button>
                </div>
            </div>
        </div>

        <!-- Transaction Cards Section -->
        <div id="transaction-list" class="mb-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">

            <template v-for="tr in daftarTransaksi" :key="tr.id">
                <Transaksi 
                    v-bind="tr"
                />
            </template>

        </div>

        <!-- Pagination -->
        <div class="flex items-center justify-between rounded-lg bg-white p-4 shadow-lg">
            <button class="rounded-md bg-gray-200 px-4 py-2 text-gray-600 hover:bg-gray-300">Sebelumnya</button>
            <span class="text-gray-600">Halaman 1 dari 5</span>
            <button class="rounded-md bg-gray-200 px-4 py-2 text-gray-600 hover:bg-gray-300">Selanjutnya</button>
        </div>
    </div>
</template>