<script setup>
import { RouterLink } from 'vue-router';

defineProps(['visible'])

</script>

<template>
    <aside v-show="visible"  class="sidebar w-64 bg-gray-800 text-white h-screen p-4">
      <nav>
        <ul>
          <li class="mb-2">
            <RouterLink to="/" class="block py-2 px-3 rounded hover:bg-gray-700">Dashboard</RouterLink>
          </li>
          <li class="mb-2">
            <RouterLink :to="{name: 'transaksi'}" class="block py-2 px-3 rounded hover:bg-gray-700">Transaksi</RouterLink>
          </li>
        </ul>
      </nav>
    </aside>
</template>