<script setup>

import { computed } from 'vue'

const props = defineProps([
    'id',
    'jenisTransaksi',
    'waktuTransaksi',
    'keterangan',
    'nilaiTransaksi'
])
</script>


<template>
    <div class="relative rounded-lg border-t-4 border-blue-500 bg-white p-6 shadow-lg">
        <div class="mb-4 flex items-center">
            <!-- Font Awesome Icon for Transaction Type -->
            <div class="mr-4 rounded-full bg-blue-500 p-3 text-white">
                <i class="fas fa-lg fa-money-bill-wave"></i> <!-- Icon for Pembelian -->
            </div>
            <h3 class="text-xl font-semibold text-gray-800">{{ jenisTransaksi }}</h3>
        </div>
        <p class="mb-2 text-gray-600"><span class="font-medium text-gray-900">{{ waktuTransaksi }}</span></p>
        <p class="mb-4 text-gray-600">{{ keterangan }}</p>
        <p class="mb-2 text-center"><span class="text-2xl font-bold">Rp {{ nilaiTransaksi }}</span></p>
        <p class="mb-2 text-gray-600"><span class="text-sm font-thin text-gray-900">{{ id }}</span></p>
    </div>
</template>