<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <!--favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{'/assets/favicon.ico'}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      th:href="@{'/assets/bootstrap@5.2.3/css/bootstrap.min.css'}"
    />
    <!-- my style-->
    <link th:href="@{'/assets/css/main.css'}" rel="stylesheet" />
    <title>Dashboard</title>
  </head>

  <body>
    <!-- sidebar menu -->
    <div class="sidebar" id="sidebar">
      <div class="mx-3 my-1 py-1">
        <a class="sidebar-brand d-none d-xl-block" href="#">DASHBOARD</a>
      </div>
      <ul class="nav flex-column">
        <li class="nav-ac-item my-1 mx-3">
          <a
            class="nav-ac-item-link d-flex align-items-center"
            href="#"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-briefcase me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"
              />
            </svg>
            Dashboard</a
          >
        </li>
        <li class="nav-ac-item my-1 mx-3">
          <a
            class="nav-collapse collapsed d-flex align-items-center"
            data-bs-toggle="collapse"
            data-bs-target="#settingMenu"
            aria-expanded="false"
            aria-controls="settingMenu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              class="bi bi-journal-bookmark me-2"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z"
              />
              <path
                d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"
              />
              <path
                d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"
              />
            </svg>
            Dropdown Menu</a
          >
          <div class="collapse" id="settingMenu">
            <ul class="sub-menu">
              <li class="sub-menu-item">
                <a class="sub-menu-link" href="#">Menu Item 1</a>
              </li>
              <li class="sub-menu-item">
                <a class="sub-menu-link" href="#">Menu Item 1</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-ac-item my-1 mx-3">
          <a
            class="nav-ac-item-link d-flex align-items-center"
            href="profile.html"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
              />
            </svg>
            Profile</a
          >
        </li>
        <li class="nav-ac-item my-1 mx-3">
          <form action="">
            <button
              type="submit"
              class="nav-ac-item-link d-flex align-items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                class="bi bi-box-arrow-right me-2"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
              Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
    <!-- end sidebar menu -->
    <div class="content-wrapper" id="content-wrapper">
      <!--top bar-->
      <nav class="navbar sticky-top">
        <div class="container-fluid px-3 flex-nowrap">
          <div class="d-flex align-items-center">
            <button
              class="navbar-toggler me-2"
              type="button"
              id="sidebarToggler"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>
            <a class="navbar-brand d-xl-none" href="#">DASHBOARD</a>
          </div>
          <div class="d-flex align-items-center pe-2">
            <button class="btn p-0">
              <img
                class="img-fluid profile-img"
                th:src="@{'/assets/img/profile.svg'}"
                alt="profil"
                width="32"
                height="32"
              /><span class="profile-name ms-2 d-none d-md-inline"
                >dofir fauzi</span
              >
            </button>
          </div>
        </div>
      </nav>
      <!--end top bar-->
      <div class="px-4 pt-4 pb-5">
        <!-- content -->
        <div
          class="heading d-flex flex-wrap justify-content-between align-items-center mb-4"
        >
          <h1>Daftar Transaksi</h1>
          <a href="#" class="btn btn-primary"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle-dotted"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
              />
            </svg>
            Add</a
          >
        </div>
        <div class="table-responsive pb-2">
          <table class="table table-striped">
            <thead>
              <tr class="align-middle">
                <th>Waktu Transaksi</th>
                <th>Jenis Transaksi</th>
                <th>Keterangan</th>
                <th>Nilai Transaksi</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              <tr th:each="t : ${daftarTransaksi}">
                <td th:text="${#temporals.format(t.waktuTransaksi, 'EEE, dd MMM yyyy - HH:mm:ss')}">Loremp ipsum dor ismet</td>
                <td th:text="${t.jenisTransaksi}">Loremp ipsum dor ismet</td>
                <td th:text="${t.keterangan}">Loremp ipsum dor ismet</td>
                <td th:text="${#numbers.formatDecimal(t.nilaiTransaksi, 3, 'POINT', 2, 'COMMA')}">Loremp ipsum dor ismet</td>
                <td class="text-end">
                  <a href="" class="btn btn-primary my-1">Detail</a>
                  <a href="#" class="btn btn-danger my-1">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="d-flex flex-wrap justify-content-between align-items-center"
          >
            <div class="row align-items-center my-1 my-md-0">
              <div class="col-auto">
                <!--show options-->
                <form>
                  <div class="row align-items-center">
                    <label class="col-auto">Show</label>
                    <div class="col-auto p-0">
                      <select class="form-select" id="show">
                        <option selected>10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                  </div>
                </form>
                <!--end show options-->
              </div>
              <div class="col-auto">
                <!--row result-->
                <p class="mb-1 mt-1">Showing 10 from 1312</p>
                <!--end row result-->
              </div>
            </div>
            <!--pagination-->
            <nav class="my-1 my-md-0">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link">Prev</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
            <!--end pagination-->
          </div>
        </div>
        <!-- end content -->
      </div>
    </div>
    <script th:src="@{'/assets/bootstrap@5.2.3/js/bootstrap.min.js'}"></script>

    <script th:src="@{'/assets/js/dashboard.js'}"></script>
  </body>
</html>
